<template id='author-page-template'>
<div class='container'>
    <div v-if='loaded'>
        <h2><span tt='works_by_author'></span><wd-link :item='author_q'></wd-link></h2>
        <table class='table table-condensed table-striped'>
            <thead>
                <tr>
                    <th tt='work'></th>
                    <th tt='suggestion'></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='item in items'>
                    <td>
                        <router-link :to='"/random/?q="+item'>
                            <wd-link :item='item' as_text='1'></wd-link>
                        </router-link>
                        <small><tt>[{{item}}]</tt></small>
                    </td>
                    <td nowrap v-if="typeof status[item]=='undefined'">
                        <small><i tt='no_suggestions_for_item'></i></small>
                    </td>
                    <td nowrap v-else>
                        <ul class="list-group">
                            <li v-for='(cnt,s) in status[item]' class="list-group-item d-flex justify-content-between align-items-center">
                                {{s}}
                                <span class="badge badge-primary badge-pill">{{cnt}}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div v-else>
        <i tt='loading'></i>
    </div>
</div>
</template>

<script>
'use strict';

let AuthorPage = Vue.extend ( {
    props : [ 'author_q' ] ,
    data : function () { return { loaded:false , items:[] , status:{} } } ,
    created : function () {
        this.loadWorksForAuthor() ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        loadWorksForAuthor : function () {
            var me = this ;
            let cnt = 2 ;
            me.loaded = false ;
            me.items = [] ;
            me.status = {} ;
            function fin () {
                cnt-- ;
                if ( cnt > 0 ) return ;
                me.loaded = true ;
            }
            let sparql = 'SELECT ?q { ?q wdt:P50 wd:'+me.author_q+' }' ;
            wd.loadSPARQLitems ( sparql , function ( d ) {
                $.get ( './api.php' , {
                    action:'get_item_status',
                    items:JSON.stringify(d)
                } , function ( d2 ) {
                    me.status = d2.data ;
                    fin() ;
                } ) ;
                wd.getItemBatch ( d , function () {
                    me.items = d ;
                    fin() ;
                } ) ;
            } ) ;
        }
    } ,
    template:'#author-page-template'
} ) ;
</script>
