<style>
div.candidate_topic_button {
    min-width:10rem;
    margin-right:0.2rem;
    white-space:nowrap;
}
</style>

<template id='candidate-topic-template'>
<div style="display:flex;flex-direction:row;" :key='topic.topic_q'>
    <div class='candidate_topic_button'>
        <div v-if='widar.is_logged_in'>
            <button v-if='topic.status=="OPEN"' class='btn btn-outline-primary' @click='addTopic'>
                <wd-link :item='"P"+topic.property' as_text='1'></wd-link>
            </button>
        </div>
        <div v-else><a target='_blank' href='/api.php?action=authorize' tt="log_in"></a></div>
    </div>
    <div style='flex-grow:1'>
        <div v-if='item_has_image' style='float:right;margin-left:2rem;margin-bottom:0.5rem;'>
            <commons-thumbnail :filename='i.getFirstStringForProperty("P18")' height='100'></commons-thumbnail>
        </div>
        <div><wd-link :item='topic.topic_q' smallq='1'></wd-link></div>
        <div v-if='item_has_taxon'><tt>{{i.getFirstStringForProperty("P225")}}</tt></div>
        <div><autodesc :item='topic.topic_q'></autodesc></div>
    </div>
</div>
</template>


<script>
'use strict';

Vue.component ( 'candidate-topic' , {
    props : [ 'topic' ] ,
    data : function () { return { item_has_image:false , item_has_taxon:false , i:{} } } ,
    created : function () {
        var me = this ;
        wd.getItemBatch ( [ me.topic.topic_q ] , function () {
            me.i = wd.getItem ( me.topic.topic_q ) ;
            if ( typeof me.i == 'undefined' ) return ;
            if ( me.i.hasClaims('P18') ) me.item_has_image = true ;
            if ( me.i.hasClaims('P225') ) me.item_has_taxon = true ;
        } ) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        addTopic : function () {
            this.$emit('add-topic',this.topic);
        }
    } ,
    template : '#candidate-topic-template' ,
} ) ;
</script>
