<template id='main-page-template'>
<div class='container'>
    <div class='lead' tt='main_blurb'></div>
    <ul class="list-group mt-2">
        <li class="list-group-item"><b><router-link to='/random' tt='random_item'></router-link></b></li>
        <li class="list-group-item"><router-link to='/topic' tt='specific_topic'></router-link></li>
        <li class="list-group-item"><router-link to='/rc' tt='recent_changes'></router-link></li>
        <li class="list-group-item"><router-link to='/wikisource' tt='wikisource'></router-link></li>
        <li class="list-group-item">
            <form @submit='onSubmitAuthor'>
                <span tt='works_by_author'></span>
                <input v-model='author_q' placeholder='Qxxx' />
                <input type='submit' class='btn btn-outline-primary' value='Go' />
            </form>
        </li>
    </ul>
</div>
</template>

<script>
'use strict';

let MainPage = Vue.extend ( {
    props : [] ,
    data : function () { return { author_q:'' } } ,
    created : function () {
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        onSubmitAuthor : function () {
            this.$router.push ( '/author/'+this.author_q );
        }
    } ,
    template:'#main-page-template'
} ) ;
</script>
