<style>
iframe.helper {
    width:100%;
    height:500px;
}
</style>

<template id='item-missing-topic-template'>
<div v-if='loaded && typeof imt!="undefined"'>

    <div class='mt-2 card'>
        <div class="card-body">
            <div v-if='i.hasClaims("P18")' style='float:right;margin-left:2rem;margin-bottom:2rem;'>
                <commons-thumbnail :filename='i.getFirstStringForProperty("P18")' width='200'></commons-thumbnail>
            </div>
            <h2>
                <wd-link :item='imt.q' as_text='1'></wd-link>
                <small>
                    [<wd-link :item='imt.q' :label='imt.q'></wd-link>]
                </small>
                <small>[<router-link :to='"/random/?q="+imt.q' tt='permalink'></router-link>]</small>
            </h2>
            <div style='font-size:14pt;color:#666;font-family:courier'>
                <span v-if='item_desc!=""'>{{item_desc}}</span>
                <autodesc v-else :item='imt.q'></autodesc>
            </div>
            <div class='mt-2' v-if='/^Q\d+$/.test(imt.topic_instance_guess)'><span tt='topic_instance_guess'></span> <wd-link :item='imt.topic_instance_guess' smallq='1'></wd-link>.</div>
            <div v-if='imt.status!="OPEN"' class="alert alert-danger" role="alert" style='width:40rem'>This entry has status {{imt.status}}!</div>

            <div class='mt-2'>
                <div v-for='prop in allowed_props'>
                    <div v-for='q in i.getClaimItemsForProperty(prop,true)'>
                        <div class="alert alert-info" role="alert" style="width:40rem">
                            <wd-link :item='prop'></wd-link>
                            :
                            <wd-link :item='q'></wd-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class='mt-2 card' v-if='imt.topics.length>0'>
        <div class="card-body">
            <h5 class="card-title" tt='candidate-header'></h5>
            <ul class="list-group">
                <li class="list-group-item" v-for='t in imt.topics'>
                    <candidate-topic :topic='t' @add-topic='addTopic($event)'></candidate-topic>
                </li>
            </ul>
        </div>
    </div>

    <div class='mt-2 card' v-if='imt.status=="OPEN"'>
        <div class="card-body">
            <h5 class="card-title" tt='search'></h5>
            <form style='display:flex;flex-direction:row;align-items:baseline;'>
                <input v-model='search_query' class='form-control' style='width:20rem;' />
                <label class='ml-2 mr-2' v-if='/^Q\d+$/.test(imt.topic_instance_guess)'>
                    <input type='checkbox' v-model='search_by_instance_of' />
                    <span tt='use_p31_for_search'></span>
                </label>
                <input type='submit' class='btn btn-outline-primary' tt_value='search_wd' @click.prevent='doSearch' />
                <button v-if='search_done' class='btn btn-outline-danger ml-2' @click.prevent='clearSearchResults'>&times;</button>
            </form>
            <div v-if='search_done && search_results.length==0'>
                <i tt='no_search_results'></i>
            </div>
            <ul v-else class="list-group">
                <li class="list-group-item" v-for='t in search_results'>
                    <candidate-topic :topic='t' @add-topic='addTopic($event)'></candidate-topic>
                </li>
            </ul>
        </div>
    </div>

    <div class='mt-2 card'>
        <div class="card-body">
            <span v-if='imt.status=="OPEN" && widar.is_logged_in'>
                <button class='btn btn-outline-primary' tt='done_with_topic' @click='doneWithTopic' accesskey='d'></button>
                <button class='btn btn-outline-danger' tt='create_new_topic' @click='createNewTopic'></button>
            </span>
            <button class='btn btn-outline-success' tt='skip_topic' @click='skipTopic' accesskey='x'></button>
        </div>
    </div>

    <div class='mt-2 card' v-if='helper_url!=""'>
        <div class="card-body">
            <h5 class="card-title" tt='preview'></h5>
            <h6 class="card-subtitle mb-2 text-muted"><span tt='showing'></span> <a class='external' target='_blank' :href='helper_url'>{{helper_url}}</a></h6>
            <iframe class='helper' :src='helper_url'></iframe>
        </div>
    </div>
</div>
</template>


<script type="module">
'use strict';

Vue.component ( 'item-missing-topic' , {
    props : [ 'imt' ] ,
    data : function () { return { label:'' , loaded:false , helper_url:'' , i:{} , item_desc:'' , search_query:'' , search_results:[] , search_done:false, search_by_instance_of:true ,
        allowed_props:['P921','P180'],
        helper_props:[
            'P932','P356','P698','P973' // PubMed/DOI etc.
            ]
    } } ,
    created : function () {
        load_globals ( this.load ) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load : function () {
            var me = this ;
            me.loaded = false ;
            me.item_desc = '' ;
            $.each ( global_helper_props , function ( dummy , p ) { me.helper_props.push ( p ) } ) ;
            let to_load = me.helper_props.slice() ; // Copy of helper_props
            to_load.push ( me.imt.q ) ;
            if ( /^Q\d+$/.test(me.imt.topic_instance_guess) ) to_load.push ( me.imt.topic_instance_guess ) ;
            $.each ( me.imt.topics , function ( k , v ) {
                to_load.push ( v.topic_q ) ;
                if ( v.property != 0 ) to_load.push ( 'P'+v.property ) ;
            } ) ;
            me.helper_url = '' ;
            wd.getItemBatch ( to_load , function () {
                me.i = wd.getItem(me.imt.q) ; // TODO check undefined
                me.label = me.i.getLabel() ;
                me.determineHelperURL() ;
                me.search_query = me.imt.search_label ;
                if ( me.search_query == '' ) me.search_query = me.i.getLabel().replace(/\(.+?\)/g,' ') ;
                me.search_expanded = ( me.imt.candidates == 0 ) ;
                me.item_desc = me.i.getDesc() ;
                me.loaded = true ;
                if ( me.imt.candidates == 0 ) me.doSearch() ; // No candidates, run search by default
            } ) ;
        } ,
        clearSearchResults : function () {
            this.search_done = false ;
            this.search_results = [] ;
        } ,
        createNewTopic : function () {
            var me = this ;
            let language = tt.language ;
            let label = me.search_query ;
            if ( label == '' && typeof me.i!='undefined' ) label = me.i.getLabel() ; // Fallback
            if ( label == '' ) {
                alert ( "Can't generate label" ) ;
                return ;
            }

            let params = {
                action:'wbeditentity',
                'new':'item',
                data:{
                    labels:{}
                }
            } ;
            params.data.labels[language] = { language:language , value:label } ;

            if ( /^Q\d+$/.test(me.imt.topic_instance_guess) && me.search_by_instance_of ) {
                if ( typeof params.data.claims == 'undefined' ) params.data.claims = [] ;
                params.data.claims.push ( widar.newClaimEntity ( 'P31' , me.imt.topic_instance_guess ) ) ;
            }
            if ( typeof me.i!='undefined' && me.i.hasClaims('P18') ) {
                if ( typeof params.data.claims == 'undefined' ) params.data.claims = [] ;
                params.data.claims.push ( widar.newClaimString ( 'P18' , me.i.getFirstStringForProperty('P18') ) ) ;
            }

            params.data = JSON.stringify ( params.data ) ;
            var summary = 'New item based on [[' + me.imt.q + ']]' ;
            params = {
                action : 'generic' ,
                summary : summary ,
                tool_hashtag:'topicmatcher',
                json : JSON.stringify ( params )
            }

            $('#working').show() ;
            widar.run ( params , function ( d ) {
                $('#working').hide() ;
                if ( d.error != 'OK' ) {
                    alert ( d.error ) ;
                    return ;
                }
                let q = d.last_res.entity.id.replace ( /\D/g , '' ) ;

                let to_load = [q] ;
                let results = [] ;
                $.each ( global_info.property , function ( dummy , prop ) {
                    to_load.push ( 'P'+prop ) ;
                    results.push ( {
                        item_id:me.imt.id ,
                        topic_q:q ,
                        property:prop,
                        status:'OPEN'
                    } ) ;
                } ) ;
                wd.getItemBatch ( to_load , function () {
                    me.search_done = true ;
                    me.search_results = results ;
                } ) ;
            } ) ;


        } ,
        doSearch : function () {
            var me = this ;
            $('#working').show() ;
            me.search_done = false ; ;
            me.search_results = [] ;
            let query = me.search_query ;
            if ( /^Q\d+$/.test(me.imt.topic_instance_guess) && me.search_by_instance_of ) query += ' haswbstatement:P31='+me.imt.topic_instance_guess ;
            let prop = 921 ; // Fallback
            $.each ( me.imt.topics , function ( k , v ) { prop = v.property } ) ; // Get existing properties
            $.getJSON ( 'https://www.wikidata.org/w/api.php?callback=?' , {
                action:'query',
                srsearch:query,
                list:'search',
                srnamespace:'0',
                srlimit:20,
                format:'json'
            } , function ( d ) {
                $('#working').hide() ;
                let results = [] ;
                let to_load = [] ;
                $.each ( d.query.search , function ( k , v ) {
                    if ( v.title == me.imt.q ) return ; // No point is showing the work as a candidate...
                    let already_in_topics = false ;
                    $.each ( me.imt.topics , function ( dummy , topic ) {
                        if ( topic.topic_q == v.title ) already_in_topics = true ;
                    } ) ;
                    if ( already_in_topics ) return ;
                    to_load.push ( v.title ) ;
                    results.push ( {
                        item_id:me.imt.id ,
                        topic_q:v.title ,
                        property:prop,
                        status:'OPEN'
                    } ) ;
                } ) ;
                wd.getItemBatch ( to_load , function () {
                    me.search_done = true ;
                    me.search_results = results ;
                } ) ;
            } ) ;
        } ,
        addTopic : function ( event ) {
            var me = this ;

            $('#working').show() ;
            var running = 1 ;
            if ( typeof event.id != 'undefined' ) running++ ;

            function fin () {
                running-- ;
                if ( running > 0 ) return ;
                $.each ( me.imt.topics , function ( k , v ) {
                    if ( v.id == event.id ) v.status = 'DONE' ;
                } ) ;
                $.each ( me.search_results , function ( k , v ) {
                    if ( v.topic_q == event.topic_q ) v.status = 'DONE' ;
                } ) ;
                $('#working').hide() ;
            }

            if ( typeof event.id != 'undefined' ) {
                $.get ( './api.php' , {
                    action:'add_topic',
                    username:widar.getUserName(),
                    topic_id:event.id
                } , function ( d ) {
                    fin() ;
                } , 'json' ) ;
            }

            let params = {
                action:'set_claims',
                ids:me.imt.q,
                tool_hashtag:'topicmatcher',
                prop:'P'+event.property,
                target:event.topic_q
            } ;
            widar.run ( params , fin ) ;
        } ,
        skipTopic : function ( ) {
            this.$emit('load-next',{});
        } ,
        doneWithTopic : function () {
            var me = this ;
            if ( !widar.is_logged_in ) return ;
            $.get ( './api.php' , {
                action:'finish_topic',
                item_id:me.imt.id ,
                username:widar.getUserName()
            } , function ( d ) {
                me.imt.status = 'DONE' ;
            } , 'json' ) ;
            this.$emit('load-next',{});
        } ,
        determineHelperURL : function () {
            var me = this ;
            let sitelinks = me.i.getWikiLinks() ;
            //console.log ( JSON.parse(JSON.stringify(sitelinks)) ) ;
            $.each ( sitelinks , function ( wiki , data ) {
                var m = wiki.match ( /^(.+)(wikisource)$/ ) ;
                if ( m === null ) return ;
                me.helper_url = 'https://'+m[1]+'.'+m[2]+'.org/wiki/' + encodeURIComponent ( data.title.replace(/ /g,'_') ) ;
                return false ;
            } ) ;
            if ( me.helper_url != '' ) return ;

            $.each ( me.helper_props , function ( dummy , prop ) {
                if ( !me.i.hasClaims(prop) ) return ;
                let id = encodeURIComponent ( me.i.getFirstStringForProperty(prop) ) ;
                let url = wd.getItem(prop).getFirstStringForProperty('P1630') ; // Formatter URL
                url = url.replace ( /^http:/ , 'https:' ) ; // Enforce https
                me.helper_url = url.replace(/\$1/,id) ;
                return false ;
            } ) ;
            if ( me.helper_url != '' ) return ;

            // Described at URL
            if ( me.i.hasClaims('P973') ) {
                let url = me.i.getFirstStringForProperty('P973') ;
//                if ( /^http:\/\/www\.tate\.org\.uk/.test(url) ) url = url.replace ( /^http:/ , 'https:' ) ;
                if ( /^https:/.test(url) ) {
                    me.helper_url = url ;
                    return ;
                }
            }

            // Fallback
            me.helper_url = me.i.getURL() ;
        }
    } ,
    template : '#item-missing-topic-template' ,
} ) ;

export function testing () { console.log("!!") } ;

</script>
