<template id='random-page-template'>
<div class='container' v-if='loaded'>
    <div class='mt-2 card' style='display:flex;flex-direction:row;align-items:baseline;'>
        <div class="card-body">
            <label tt='item_is_a'></label>&nbsp;
            <select v-model='item_instance' class='custom-select' style='width:15rem;'>
                <option value=''>&mdash;</option>
                <option v-for='x in global_info_cache.item_instance' :value='x.q'>{{x.label}}</option>
            </select>
            <label style='margin-left:3rem;' tt='topic_is_a'></label>&nbsp;
            <select v-model='topic_instance_guess' class='custom-select' style='width:auto;max-width:16rem;'>
                <option value=''>&mdash;</option>
                <option v-for='x in global_info_cache.topic_instance_guess' :value='x.q'>{{x.label}}</option>
            </select>
            <label style='margin-left:3rem;' tt='property_is'></label>&nbsp;
            <select v-model='topic_p' class='custom-select' style='width:auto;'>
                <option value=''>&mdash;</option>
                <option v-for='x in global_info_cache.property' :value='x.q'>{{x.label}}</option>
            </select>
            <button style='margin-left:3rem;font-size:16pt;padding-top:0px;padding-bottom:0px;font-weight:bold;' class='btn btn-outline-success' tt='get_random' @click.prevent='doReload' accesskey='r'></button>
        </div>
    </div>
<!--
    <div style='display:flex;flex-direction:row'>
        <label style='margin-right:1rem;'>Item is </label>
        <input v-model='q' placeholder='Qxxx' />
        <label style='margin-left:3rem;margin-right:1rem;'>Topic is </label>
        <input v-model='topic_q' placeholder='Qxxx' />
    </div>
-->
    <div v-if='typeof imt!="undefined" && typeof imt.id!="undefined"'>
        <item-missing-topic :key='imt.id' :imt='imt' @load-next='loadRandomItem'></item-missing-topic>
    </div>
</div>
</template>

<script>
'use strict';

let RandomPage = Vue.extend ( {
    props : [] ,
    data : function () { return {  imt:{} , item_instance:'' , topic_instance_guess:'' , q:'' , topic_p:'' , topic_q:'', loaded:false , last_params_key:'' , random_cache:[] , global_info_cache:{} } } ,
    created : function () {
        load_globals(this.load) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load : function () {
            this.initGlobalInfoCache() ;
            this.item_instance = (this.$route.query.instance||'') ;
            this.topic_instance_guess = (this.$route.query.topic||'') ;
            this.topic_q = (this.$route.query.topic_q||'') ;
            this.topic_p = (this.$route.query.property||'') ;
            this.q = (this.$route.query.q||'') ;
            this.loadRandomItem() ;
        } ,
        initGlobalInfoCache : function () {
            let me = this ;
            $.each ( ['item_instance','topic_instance_guess','property'] , function ( dummy , group ) {
                me.global_info_cache[group] = [] ;
                $.each ( global_info[group] , function ( dummy2 , q ) {
                    let q2 = q ;
                    if ( group == 'property' ) q2 = 'P' + q ;
                    me.global_info_cache[group].push ( { q:q , label:me.getLabel(q2) } ) ;
                } ) ;
                me.global_info_cache[group].sort ( function (a,b) {
                    return (a.label.toUpperCase()>b.label.toUpperCase()) ;
                } ) ;
            } ) ;
//            console.log ( JSON.parse(JSON.stringify(me.global_info_cache)) ) ;
        } ,
        getLabel : function ( q ) {
            if ( typeof wd == 'undefined' ) return '' ;
            let i = wd.getItem(q) ;
            if ( typeof i == 'undefined' ) return q ;
            return i.getLabel() ;
        } ,
        doReload : function () {
            let parts = [] ;
            if ( this.item_instance != '' ) parts.push ( 'instance='+$.trim(this.item_instance.toUpperCase()) ) ;
            if ( this.topic_instance_guess != '' ) parts.push ( 'topic='+$.trim(this.topic_instance_guess.toUpperCase()) ) ;
            if ( this.topic_p != '' ) parts.push ( 'property='+$.trim(this.topic_p.replace(/\D/g,'')) ) ;
            this.q = '' ; // TODO
            this.topic_q = '' ; // TODO
            let url = parts.length==0?'':'?'+parts.join('&') ;
            this.$router.replace ( '/random'+url );
            this.loadRandomItem() ;
        } ,
        loadRandomItem : function () {
            var me = this ;
            me.loaded = false ;
            me.imt = undefined ; // Hide old one
            let params = { action:'get_random' , limit:5 } ;
            $.each ( ['item_instance','topic_instance_guess','q','topic_p','topic_q'] , function (dummy,key) {
                if ( me[key] != '' ) params[key] = me[key] ;
            } ) ;

            let params_key = JSON.stringify(params) ;
            if ( me.last_params_key == params_key && me.random_cache.length > 0 ) {
                me.imt = me.random_cache.pop() ;
                me.loaded = true ;
                return ;
            }

            me.last_params_key = params_key ;
            me.random_cache = [] ;

            $('#working').show() ;
            $.get ( './api.php' , params , function ( d ) {
                me.loaded = true ;
                $('#working').hide() ;
                if ( d.status != 'OK' ) {
                    alert ( d.status ) ;
                    return ;
                }
//console.log ( JSON.parse(JSON.stringify(d)) ) ;
                me.random_cache = d.data ;
                me.imt = me.random_cache.pop() ;
            } , 'json' ) ;
        } ,
    } ,
    template:'#random-page-template'
} ) ;
</script>
