<template id='rc-page-template'>
<div class='container'>
    <h2 tt='recent_changes'></h2>
    <table class='table table-condensed table-striped'>
        <tbody>
            <tr v-for='ev in results.events'>
                <td nowrap>
                    <div>{{ev.action}}</div>
                    <div>[
                        <span v-if='ev.table=="item"'>
                            <router-link :to='"/random/?q="+results.table2id.item[ev.table_id].q' tt='item'></router-link>
                        </span>
                        <span v-if='ev.table=="topic"'>
                            <router-link :to='"/topic/"+results.table2id.topic[ev.table_id].topic_q' tt='topic'></router-link>
                        </span>
                    ]</div>
                </td>
                <td nowrap><a :href='"https://www.wikidata.org/wiki/User:"+encodeURIComponent(ev.user.replace(/ /,"_"))' target='_blank' class='wikidata'>{{ev.user}}</a></td>
                <td>
                    <span v-if='ev.table=="item"'>
                        <div><wd-link :item='results.table2id.item[ev.table_id].q' smallq='1'></wd-link></div>
                        <div><autodesc :item='results.table2id.item[ev.table_id].q'></autodesc></div>
                    </span>
                    <span v-if='ev.table=="topic"'>
                        <div><wd-link :item='results.table2id.topic[ev.table_id].topic_q' smallq='1'></wd-link></div>
                        <div><autodesc :item='results.table2id.topic[ev.table_id].topic_q'></autodesc></div>
                    </span>
                </td>
                <td nowrap>{{prettyTimestamp(ev.timestamp)}}</td>
            </tr>
        </tbody>
    </table>
    <div v-if='last_timestamp!=""'>
        <router-link :to='"/rc/"+last_timestamp' tt='older_rc'></router-link>
    </div>
    </div>
</div>
</template>

<script>
'use strict';

var RecentChangesPage = Vue.extend ( {
    props : [ 'start' ] ,
    data : function () { return { results:[] , last_timestamp:'' } } ,
    created : function () {
        var me = this ;
        $.get ( './api.php' , { action:'rc' , start:(me.start||'')} , function ( d ) {
            $.each ( d.data.events , function ( k , v ) { me.last_timestamp = v.timestamp } ) ;
            me.results = d.data ;
        } , 'json' ) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
    	prettyTimestamp : function ( ts ) {
    		return ts.substr(0,4)+'-'+ts.substr(4,2)+'-'+ts.substr(6,2)+' '+ts.substr(8,2)+':'+ts.substr(10,2)+':'+ts.substr(12,2) ;
    	}
    } ,
    template:'#rc-page-template'
} ) ;

</script>
