<template id='section-bar-template'>
<div class='row'>
	<div class='col-2'></div>
	<div class='col-8' v-if='display'>
		<nav>
			<ul class='pagination justify-content-center'>
				<li class='page-item' v-for='p in parts' :class='"page-item"+(p=="..."||p==page?" disabled":"")'>
					<a class="page-link" href='#' @click.prevent='page_clicked(p)'>
						<span v-if='p=="..."'>{{p}}</span>
						<span v-else>{{p*1+1}}</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class='col-2'></div>
</div>
</template>

<script>
'use strict';

Vue.component ( 'section-bar' , {
	template : '#section-bar-template' ,
	props : [ 'page' , 'max' ] ,
	data : function () { return { last_page:-1 , last_max:-1 , parts:[] , display:false } } ,
	created : function () {
		this.compute_parts() ;
	} ,
	updated : function () {
		this.compute_parts() ;
	} ,
	methods : {
		compute_parts : function () {
			let self = this ;
			if ( self.last_page == self.page && self.last_max == self.max) return ;
			self.last_page = self.page ;
			self.last_max = self.max ;
			self.display = false ;
			self.parts = [] ;
			let low = self.page - 5 ;
			if ( low < 0 ) low = 0 ;
			let high = self.page + 5 ;
			if ( high > self.max ) high = self.max ;
			if ( low > 0 ) self.parts.push ( 0 ) ;
			if ( low > 1 ) self.parts.push ( '...' ) ;
			let cnt ;
			for ( cnt = low ; cnt <= high ; cnt++ ) {
				self.parts.push(cnt) ;
			}
			if ( high < self.max ) {
				self.parts.push ( '...' ) ;
				self.parts.push ( self.max ) ;
			}
			self.display = true ;
		} ,
		page_clicked : function ( pagenum ) {
			this.$emit('page-clicked',pagenum) ;
		}
	}
} ) ;
</script>
