<template id='topic-page-template'>
<div class='container'>
<!--
    <form style='display:flex;flex-direction:row;'>
        <input v-model='new_q' class='form-element' style='width:40rem;' placeholder='Qxxx' />
        <input type='submit' class='btn btn-outline-primary' tt_value='show_topic' @click.prevent='doShowTopic' />
    </form>
-->

    <div class='mt-2'>
        <typeahead-search type='item' :initial_q='q' noinitialsearch='1' @setq='setQ($event)'></typeahead-search>
        <span v-if='typeof q=="undefined"'>
            <router-link class='btn btn-outline-secondary' to='/topic/Q23' tt='example'></router-link>
        </span>
    </div>

    <div class='mt-4' v-if='loaded'>
        <div class='mb-4'>
            <h1>
                <span tt='items_relating_to'></span>
                <wd-link :item='q' smallq='1'></wd-link>
            </h1>
            <div><autodesc :item='q'></autodesc></div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" v-for='t in data.topics' style='display:flex;flex-direction:row;'>
                <div class='mr-2' style='min-width:10rem;'>
                    <span v-if='t.status!="OPEN" || data.items[t.item_id].status!="OPEN"'>
                        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Checkmark_green.svg/50px-Checkmark_green.svg.png' />
                    </span>
                    <span v-else>
                        [<router-link :to='"/random/?q="+data.items[t.item_id].q'>
                            <wd-link :item='"P"+t.property' as_text='1'></wd-link>
                        </router-link>]
                    </span>
                </div>
                <div style='flex-grow:1'>
                    <div><wd-link :item='data.items[t.item_id].q' smallq='1'></wd-link></div>
                    <div><autodesc :item='data.items[t.item_id].q'></autodesc></div>
                </div>
                <div v-if='typeof wd.getItem(data.items[t.item_id].q)!= "undefined"'>
                    <div v-if='wd.getItem(data.items[t.item_id].q).hasClaims("P18")'>
                        <commons-thumbnail :filename='wd.getItem(data.items[t.item_id].q).getFirstStringForProperty("P18")' height='50'></commons-thumbnail>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
</template>

<script>
'use strict';

let TopicPage = Vue.extend ( {
    props : [ 'q' ] ,
    data : function () { return { new_q:'' , loaded:false , data:{} } } ,
    created : function () {
        if ( typeof this.q != 'undefined' ) {
            this.new_q = this.q.toUpperCase() ;
            this.loadTopic() ;
        }
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        doShowTopic : function () {
            this.$router.push ( '/topic/'+this.new_q );
        } ,
        loadTopic : function () {
            var me = this ;
            me.loaded = false;
            $('#working').show() ;
            $.get ( './api.php' , { action:'get_topics_by_q',q:me.q } , function ( d ) {
                let to_load = [] ;
                $.each ( d.data.items , function ( k , v ) { to_load.push(v.q) ; to_load.push(v.topic_instance_guess) ; to_load.push(v.item_instance) ; } ) ;
                $.each ( d.data.topics , function ( k , v ) { to_load.push(v.topic_q) ; to_load.push('P'+v.property) ; } ) ;
                wd.getItemBatch ( to_load , function () {
                    me.data = d.data ;
                    me.loaded = true ;
                    $('#working').hide() ;
                } ) ;
            } , 'json' ) ;
        } ,
        setQ : function ( q ) {
            this.new_q = q ;
            this.doShowTopic(q);
        } ,
    } ,
    template:'#topic-page-template'
} ) ;

</script>
