<style>
div.entry_row {
    border: 1px solid #DDD;
}
div.entry_row:nth-child(even) {
    background-color:#DDD;
}
div.description {
    display: inline-block;
    line-height: 1.2;
    font-size:9pt;
    max-height:8rem;
    overflow:auto;
}
</style>

<template id='wikisource-page-template'>
<div class='container'>
<div v-if='wikis_loaded'>

    <div class='row mt-3'>
        <div class='col-2' tt='wiki'></div>
        <div class='col-3'>
            <select v-model='wiki' class='form-control'>
                <option value='' tt='all'></option>
                <option v-for='wiki in wikis' :value='wiki'>{{wiki}}</option>
            </select>
        </div>
        <div class='col-1'></div>
        <div class='col-3' tt='type'></div>
        <div class='col-3'>
            <select v-model='p31' class='form-control'>
                <option value='' tt='all'></option>
                <option v-for='p31 in p31_guesses' :value='p31'>{{p31}}</option>
            </select>
        </div>
    </div>

    <div class='row mt-1'>
        <div class='col-2' tt='prefix'></div>
        <div class='col-4'>
            <input class='form-control' type='text' v-model='page_prefix' />
        </div>
        <div class='col-6'>
            <i tt='prefix_hint'></i>
        </div>
    </div>

    <div class='row mt-1'>
        <div class='col-2' tt='status'></div>
        <div class='col-2'>
            <label><input type='checkbox' v-model='status.TODO' /> <span tt='unmatched'></span></label>
        </div>
        <div class='col-2'>
            <label><input type='checkbox' v-model='status.AUTOMATCH' /> <span tt='automatch'></span></label>
        </div>
        <div class='col-2'>
            <label><input type='checkbox' v-model='status.DONE' /> <span tt='matched'></span></label>
        </div>
        <div class='col-2'>
            <label><input type='checkbox' v-model='status.INVALID' /> <span tt='invalid'></span></label>
        </div>
    </div>

    <div class='row mt-1'>
        <div class='col-2' tt='order'></div>
        <div class='col-2'>
            <label>
                <input type='radio' v-model='order' value='id' />
                <span tt='order_id'></span>
            </label>
        </div>
        <div class='col-2'>
            <label>
                <input type='radio' v-model='order' value='page_title' />
                <span tt='order_page_title'></span>
            </label>
        </div>
        <div class='col-2'>
            <label>
                <input type='radio' v-model='order' value='title' />
                <span tt='order_title'></span>
            </label>
        </div>
    </div>

    <div class='row mt-1'>
        <div class='col-2' tt='order'></div>
        <div class='col-2'>
            <button class='btn btn-outline-primary' @click.prevent='offset=0; update_list()' tt='update_list'></button>
        </div>
    </div>

    <div class='mt-3' v-if='max_page>0'>
        <section-bar :page='current_page' :max='max_page' @page-clicked='page_clicked($event)'></section-bar>
    </div>

    <div class='entry_table mt-1' v-if='list_loading'>
        <i tt='loading'></i>
    </div>
    <div class='entry_table mt-1' v-else-if='list.length==0 && could_have_data && !list_loading'>
        <div class='row' style='font-weight: bold;'>
            <div class='col-6'><i tt='no_results'></i></div>
        </div>
    </div>
    <div class='entry_table mt-1' v-else-if='list.length>0 && !list_loading'>
        <div class='row' style='font-weight: bold;'>
            <div class='col-6' tt='page'></div>
            <div class='col-4' tt='main_subject'></div>
            <div class='col-1' tt='actions'></div>
        </div>
        <div class='row entry_row' v-for='(e,row) in list' :key='e.id'>
            <div class='col-6'>
                <a :href='get_wikisource_url(e.wiki,e.page_title)' target='_blank' class='external' :title='e.title'>
                    {{e.page_title.replace(/_/g,' ')}}
                </a>
                <small style='white-space: nowrap'><wd-link :item='e.wikidata_item' label='WD'></wd-link></small>
                <div v-if='e.description!=""' class='description'>{{e.description}}</div>
            </div>
            <div class='col-4'>
                <span v-if='e.status=="IGNORE"' tt='ignored'></span>
                <span v-else-if='e.main_subject>0'>
                    <div style="display: block;line-height: 1.0;">
                        <wd-link :item='e.main_subject' smallq='1'></wd-link>
                    </div>
                    <div v-if='e.status=="AUTOMATCH"' class='description'>
                        <autodesc :item='e.main_subject' mode='short'></autodesc>
                    </div>
                </span>
                <i v-else tt='none'></i>
            </div>
            <div class='col-1' v-if='widar.is_logged_in'>
                <button v-if='e.main_subject>0 && e.status=="AUTOMATCH"' class='btn btn-sm btn-outline-success' tt='accept_match' @click.prevent='set_match(row,e.main_subject)'></button>
                <button v-else-if='e.status!="DONE" && e.status!="FROM_WIKIDATA"' class='btn btn-sm btn-outline-success' tt='set_manual_q' @click.prevent='set_manual_q(row)'></button>
                <button v-if='e.main_subject>0' class='btn btn-sm btn-outline-danger' tt='remove_match' @click.prevent='set_match(row,0)'></button>
                <button v-if='e.main_subject==0 && e.status!="IGNORE"' class='btn btn-sm btn-outline-warning' tt='ignore_page' @click.prevent='set_match(row,-1)'></button>
                <a v-if='e.main_subject==0' class='btn btn-sm btn-outline-secondary' tt='search_wikidata' target='_blank' class='wikidata' :href='"https://www.wikidata.org/w/index.php?ns0=1&search="+e.title+(e.p31_guess>0?" haswbstatement:P31=Q"+e.p31_guess:"")+" -haswbstatement:P31=Q13433827"'></a>
            </div>
            <div class='col-4' v-else tt='log_into_widar'>
            </div>
        </div>
    </div>

    <div class='mt-1' v-if='max_page>0'>
        <section-bar :page='Math.floor(offset/limit)' :max='max_page' @page-clicked='page_clicked($event)'></section-bar>
    </div>

</div>
</div>
</template>

<script>
'use strict';

let WikisourcePage = Vue.extend ( {
    data : function () { return { wikis_loaded:false , wikis:[] , p31_guesses:[] , wiki:'' , p31:'' , order:'id' , page_prefix:'' , 
        status:{TODO:true,DONE:false,AUTOMATCH:true,INVALID:false} ,
        offset:0 , limit:50 , list:[] , list_loading:false , could_have_data:false , max_page:0
    } } ,
    created : function () {
        let self = this ;
        $.each ( ['p31','page_prefix','wiki','order','offset','limit'] , function ( k , v ) {
            if ( typeof self.$route.query[v] != 'undefined' ) {
                self[v] = self.$route.query[v] ;
            }
            self.limit *= 1 ;
            self.offset *= 1 ;
        } ) ;
        $.each ( ['todo','done','automatch','invalid'] , function ( k , v ) {
            if ( typeof self.$route.query[v] != 'undefined' ) {
                self.status[v.toUpperCase()] = (self.$route.query[v]=='1') ;
            }
        } ) ;
        self.load_wikis();
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    computed : {
        current_page : function () {
            return Math.floor(this.offset/this.limit)
        }
    } ,
    methods : {
        load_wikis : function () {
            let self = this ;
            $.get ( './api.php' , { action:'wikisource_get_info' } , function ( d ) {
                self.wikis = d.data.wikis ;
                self.p31_guesses = d.data.p31 ;
                self.wikis_loaded = true ;
                self.update_list();
            } , 'json' ) ;
        } ,
        get_wikisource_url : function ( wiki , page ) {
            let language = wiki.replace(/wikisource/,'') ;
            return "https://"+language+".wikisource.org/wiki/"+page ;
        } ,
        set_manual_q : function ( row ) {
            let q = prompt("Enter a Q ID") ;
            if ( q == null ) return ;
            q = q.replace(/\D/g,'') ;
            if ( q == '' ) return ;
            this.set_match(row,q);
        } ,
        set_match : function ( row , q ) {
            let self = this ;
            if ( self.list[row].wikidata_item == q ) {
                alert("An item can not have itself as the main subject");
                return;
            }
            if ( q == -1 ) {
                self.list[row].main_subject = 0 ;
                self.list[row].status = 'IGNORE' ;
            } else {
                self.list[row].main_subject = q ;
                if ( q > 0 ) self.list[row].status = 'DONE' ;
                else self.list[row].status = 'TODO' ;
            }

            if ( q > 0 ) {
                self.set_match_on_wikidata(self.list[row].wikidata_item,'P921',q) ;
            }

            $.get ( './api.php' , {
                action:'wikisource_set_main_subject',
                username:widar.getUserName(),
                entry_id:self.list[row].id,
                main_subject:q
            } , function ( d ) {
                if ( d.status != 'OK' ) alert ( d.status ) ;
            } , 'json' ) ;
        } ,
        set_match_on_wikidata : function ( item_q , property , target_q ) {
            item_q = ''+item_q ;
            property = ''+property ;
            target_q = ''+target_q ;
            item_q = 'Q'+item_q.replace(/\D/g,'') ;
            property = 'P'+property.replace(/\D/g,'') ;
            target_q = 'Q'+target_q.replace(/\D/g,'') ;

            let params = {
                action:'set_claims',
                summary : 'Setting main subject via Topicmatcher:Wikisource' ,
                tool_hashtag:'topicmatcher',
                ids:item_q,
                prop:property,
                target:target_q
            } ;

            widar.run ( params , function ( d ) {
                console.log('WIDAR',d);
            } ) ;

        } ,
        update_url : function () {
            let self = this ;
            let parts = [] ;
            if ( self.order!='id' ) parts.push("order="+self.order);
            if ( self.limit!=50 ) parts.push("limit="+self.limit);
            if ( self.offset!=0 ) parts.push("offset="+self.offset);
            $.each ( ['p31','page_prefix','wiki'] , function ( k , v ) {
                if ( self[v] != '' ) parts.push ( v+"="+self[v] ) ;
            } ) ;
            if ( !self.status.TODO ) parts.push("todo=0");
            if ( !self.status.AUTOMATCH ) parts.push("automatch=0");
            if ( self.status.DONE ) parts.push("done=1");
            if ( self.status.INVALID ) parts.push("invalid=1");
            parts = parts.join("&");
            let path = '/wikisource' ;
            if ( parts != '' ) path += "?" + parts ;
            this.$router.replace ( path );
        } ,
        update_list : function () {
            let self = this ;
            self.update_url() ;
            let status = [] ;
            $.each ( self.status , function(k,v) {
                if ( v ) status.push(k) ;
            } );
            status = status.join(',');
            let params = {
                action:'wikisource_get_list' ,
                wiki:self.wiki ,
                p31:self.p31,
                order:self.order,
                page_prefix:self.page_prefix,
                status:status,
                offset:self.offset,
                limit:self.limit
            } ;
            self.list_loading = true ;
            $.get ( './api.php' , params , function ( d ) {
                let to_load = [] ;
                $.each ( d.data , function ( k , v ) {
                    if ( v.wikidata_item > 0 ) to_load.push('Q'+v.wikidata_item) ;
                    if ( v.main_subject > 0 ) to_load.push('Q'+v.main_subject) ;
                }) ;
                wd.getItemBatch ( to_load , function () {
                    self.list = d.data.list ;
                    self.max_page = Math.floor(d.data.max_results/self.limit) ;
                    self.could_have_data = true ;
                    self.list_loading = false ;
                } ) ;
            } , 'json' ) ;

        } ,
        page_clicked : function ( page ) {
            this.offset = page * this.limit ;
            this.update_list();
        }
    } ,
    template:'#wikisource-page-template'
} ) ;

</script>
